#boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
    transition: opacity 1.5s ease-out, visibility 1.5s;
    
    opacity: 1;
    visibility: visible;
}

#btn-initialize {
    background: transparent;
    border: 1px solid var(--neon-blue);
    color: var(--neon-blue);
    padding: 15px 30px;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    letter-spacing: 4px;
    box-shadow: 0 0 15px rgba(0, 243, 255, 0.3);
}

#btn-initialize:hover {
    background: var(--neon-blue);
    color: #000;
}

#boot-screen.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}